@model string

<h1>Success</h1>
<p>@Model</p>

@using (Html.BeginForm("Index", "Auth"))
{
    <input type="hidden" name="accessToken" value="@Model" />
    <button type="submit" class="btn btn-primary">Go back</button>
}
